.message-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.message-list-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #7f8c8d;
  font-size: 1rem;
}

